body {
    margin: 2px;
}

#page {

  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;

}

.menu li{
  display: inline;
}

#nav li a {

  color: #f1f1f1;
  font-size: large;
  font-weight: bold;

}

#nav li {
  display:inline
}

#nav li {
  margin-left: 40px;
}

#nav li .current {

  color: #05386B;
  font-size: large;
  font-weight: bold;
}

.btn {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  text-decoration:underline;
  display:inline-block;
}

.dropdown {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  text-decoration:underline;
  display:inline-block;
}
