body {
    margin: 0;
    background-color: #A9A9A9;
   
  }
  
  .topnav {
    overflow: hidden;
    background-color: #A9A9A9;
  }
  
  .topnav a {
    float: left;
    color: #05386B;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    color: #EDF5E1;
  }
  
  .para-header-font{
    font-family: 'Bebas Neue', cursive;
    color: #EDF5E1;
    font-size: 5em;
  }
  .para-text-font {
    font-family: 'Raleway', sans-serif;
    color : #EDF5E1;
   
  }
  .para-div {
      padding-top: 50px;
      padding-right: 30px;
      padding-bottom: 50px;
      padding-left: 80px;
   
  }
  .div-list {
    text-align: center;
  }
  
  .div-list ul {
    display: inline-block;
  }
  
  .div-list ul li {
    text-align: left;
  }

  table.center {
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
  }

th {
  font-family: 'Raleway', sans-serif;
  color: #05386B;
}
td {
  font-family: 'Raleway', sans-serif;
  color : #EDF5E1;

}

hr{

  height: 1px;

  background-color: #EDF5E1;

  border: none;

}

.bold {

  font-family: 'Raleway', sans-serif;
  color: #05386B;

}

.unbold {
  
  font-family: 'Raleway', sans-serif;
  color : #EDF5E1;

}

.btn {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  text-decoration:underline;
  display:inline-block;
}

.editorBtn{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  text-decoration:underline;
  display:inline-block;

}

.product-info {
  margin-top: auto;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  padding: 10%;
  padding-bottom: 0%;
  padding-top: 7%;
  flex-grow: 1;
  flex-basis: 20%;
  display: flex; 
}
.product-image img {
  max-width: 100%;
}

.button {
  visibility: hidden;
}

.seeMore{
  display: inline-block;
  flex-grow: unset;
  padding:0;
  flex-basis:unset; 
  flex-wrap: unset;
}
body {
  margin: 20px;
  }